<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
    <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">StoryBooks</h1>
    <h3 class="text-center text-lg text-gray-900">Write your story to the book</h3>
    <a href="/auth/google" aria-label="Continue with google" role="button" class="font-medium ml-4 text-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 hover:bg-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10">
      <img class="mr-5" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg" alt="google">
      Log In with Google
    </a>
  </div>
</div>