<div class="absolute bottom-2 right-2 sm:bottom-5 sm:right-5 rounded-full">
  <a href="/stories/add">
    <svg xmlns="http://www.w3.org/2000/svg" class="sm:h-16 h-10 w-10 sm:w-16 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </a>
</div>