<form action="<%= url  %>?_method=DELETE" method="post">
  <button class="absolute bottom-3 right-3" type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" class="sm:h-6 h-4 w-4 sm:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
  </button>
</form>