<div class="navbar bg-gray-700 sm:bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-700 rounded-box w-52">
        <li><a class="text-white" href="/stories">Public Stories</a></li>
        <li><a class="text-white" href="/dashboard/<%= user.id %>">Dashboard</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a href="/dashboard/<%= user.id %>" class="btn btn-ghost text-white normal-case text-xl">StoryBooks</a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="<%= user.image %>" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-700 rounded-box w-52">
        <li><a class="text-white" href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>