<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ProjectBooks Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-700">
  <%- body %>
</body>

</html>