<% if(stories.length !== 0) { %>
<div class="flex flex-wrap justify-center mx-10 pb-10">
  <% stories.map(story => { %>
  <div class="card w-80 bg-gray-900 text-neutral-content relative sm:mr-8 mt-5">
    <div class="flex justify-between sm:mx-4 mx-2 mt-2">
      <p class="text-sm text-gray-300 sm:text-md"><%= story.createdAt.toDateString() %></p>
      <p class="text-sm text-gray-300 sm:text-md"><%= story.status %></p>
    </div>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-lg sm:text-xl text-white"><%= story.title %></h2>
      <% if(story.body.length < 35){%>
      <p class="text-sm mt-2 text-gray-300"><%= story.body %></p>
      <% } else { %>
      <p class="text-sm mt-2 text-gray-300"><%= story.body.substr(0, 35) %>...</p>
      <% } %>
      <div class="card-actions justify-end mt-4">
        <a href="/stories/<%= story._id%>" class="btn sm:text-sm text-xs btn-primary text-white">View</a>
        <a href="/stories/<%= story._id %>/edit" class="btn sm:text-sm text-xs btn-ghost text-white">Edit</a>
      </div>
    </div>
    <%- include("../partials/delete_form.ejs", {url: `/stories/${story._id}`})%>
  </div>
  <% }) %>
</div>
<% } else { %>
<p class="text-center text-xl text-white">You haven't created any stories</p>
<% } %>