<h1 class="text-3xl text-white text-center mt-10">Add new story</h1>
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-2 lg:px-2">
  <div class="flex flex-col p-6 rounded-lg shadow-lg bg-white w-full sm:w-1/2 sm:mx-0 mx-4">
    <form action="/stories" method="post">
      <div class="form-group mb-6">
        <input type="text" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="title" placeholder="Title">
      </div>
      <div class="form-group mb-6">
        <select class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="status">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>
      </div>
      <div class="form-group mb-6">
        <h5 class="text-sm text-black">Tell us your story:</h5>
        <textarea class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      " name="body" rows="3" placeholder="Description"></textarea>
      </div>
      <div class="flex sm:flex-row flex-col">
        <button type="submit" class="sm:mr-2 sm:mb-0 mb-2 w-full px-6 py-2.5 bg-gray-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Save</button>
        <a href="/dashboard/<%= user.id %>" class="sm:ml-2 sm:mt-0 mt-2 text-center w-full px-6 py-2.5 bg-gray-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Cancel</a>
      </div>
    </form>
  </div>
</div>