<h1 class="text-3xl text-center text-white mb-4 sm:mb-8 mt-3">Stories</h1>
<% if(stories.length !== 0) { %>
<div class="flex flex-wrap justify-center sm:mx-10 pb-10">
  <% stories.map(story => { %>
  <div class="card w-80 bg-gray-900 text-neutral-content relative sm:mr-8 mt-5">
    <div class="flex justify-between mx-4 mt-2">
      <p class="text-sm text-gray-300 sm:text-md"><%= story.createdAt.toDateString() %></p>
      <p class="text-sm text-gray-300 sm:text-md"><%= story.status %></p>
    </div>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-xl text-white"><%= story.title %></h2>
      <% if(story.body.length < 35){%>
      <p class="text-sm mt-2 text-gray-300"><%= story.body %></p>
      <% } else { %>
      <p class="text-sm mt-2 text-gray-300"><%= story.body.substr(0, 35) %>...</p>
      <% } %>
      <div class="card-actions justify-end mt-4">
        <a href="/stories/<%= story._id%>" class="btn btn-primary text-md">Read More</a>
      </div>
    </div>
    <a href="stories/user/<%= story.user._id %>" tabindex="0" class="btn btn-ghost btn-circle avatar absolute right-3 bottom-3">
      <div class="w-10 rounded-full">
        <img src="<%= story.user.image %>" />
      </div>
    </a>
  </div>
  <% }) %>
</div>
<% } else { %>
<p class="text-center text-3xl text-white">No stories to display</p>
<% } %>