<div class="flex justify-between mx-8 sm:mx-20 mt-2">
  <p class="text-white"><%= story.createdAt.toDateString() %></p>
  <p class="text-white"><%= story.status %></p>
</div>
<div class="min-h-full flex flex-col items-center justify-center py-10 px-4 sm:px-6 lg:px-8">
  <h1 class="text-white text-3xl mb-10"><%= story.title %></h1>
  <p class="text-gray-300 px-5"><%= story.body %></p>
  <% if(story.user.id != user.id) { %>
  <% } else { %>
  <a href="/stories/<%= story._id %>/edit" class="btn text-white btn-ghost mt-10">Edit</a>
  <% } %>
</div>
<% if(story.user.id != user.id) { %>
<% } else { %>
<div class="absolute bottom-2 left-2 sm:bottom-5 sm:left-5">
  <form action="/stories/<%= story._id %>?_method=DELETE" method="post">
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" class="sm:h-16 h-10 w-10 sm:w-16 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>
  </form>
</div>
<% } %>