<% if(stories.length !== 0) { %>
<div class="flex flex-wrap justify-center sm:mx-10 pb-10">
  <% stories.map(story => { %>
  <div class="card w-80 bg-gray-900 text-neutral-content relative sm:mr-8 mt-5">
    <div class="flex justify-between mx-4 mt-2">
      <p class=""><%= story.createdAt.toDateString() %></p>
      <p><%= story.status %></p>
    </div>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-xl"><%= story.title %></h2>
      <% if(story.body.length < 35){%>
      <p class="text-sm mt-2"><%= story.body %></p>
      <% } else { %>
      <p class="text-sm mt-2"><%= story.body.substr(0, 35) %>...</p>
      <% } %>
      <div class="card-actions justify-end mt-4">
        <a href="/stories/<%= story._id%>" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<% } else { %>
<p class="text-center text-xl text-white">You haven't created any stories</p>
<% } %>