<h1 class="text-center text-3xl text-white">404 Not Found</h1>
<p class="text-center text-xl text-white">We're sorry, this resource is not found</p>
<a class="text-center text-lg text-blue" href="/dashboard/<%= user.id %>">Go to Dashboard</a>